.div_filter {
    display: grid;
    justify-content: center;
}

.div_input {
   margin: 15px; 
   display: grid;
   justify-content: center;
   width: 200px;
}

.label {
    margin: 10px;
}
